body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  background-color: rgb(185, 248, 227);
  padding: 20px;
  height: 100vh;
  width: 100vw;
}

.background > div {
  background-color: rgb(221, 255, 244);
  border: 2px solid rgb(51, 241, 255);
  border-radius: 5px;
  padding: 20px;
  margin: 3px;
}

h1, h3, h5, p {
  text-align: center;
}

div {
  display: 'block';
  width: '100%';
}
